body {
    background-color: #f3f1f1;
    width: 100%;
    font-size: 100%;
}
h2{
    text-align: center;
    font-size: 4em;
    padding: 3% 0%;
}
p>a{
    margin: 0em 1em;
}
nav {
    text-align: center;
    display:block;
}

nav a {
    width: 30%;
    text-decoration: none;
    padding: 1em;
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
    margin: 0em .5em;
}

iframe {
    width: 40%;
    margin: 0% 3%;
}

.listskills a {
    font-size: 1.5em;
    text-decoration: none;
    background-color: #0039a0;
    color: #fefff2;
    border-radius: 1em;
    padding: .3em;
    margin: .2em .5em;
    display: inline-block;
}
a[href="#header"] {
    margin: 1em 0em;
    font-size: 2em;
    display: inline-block;
}
a:hover, a:active {
    color: #FF0000;
    cursor:pointer;
}
.listskills a:hover, a:active {
    background-color: #ff0000;
    color: #fefff2;
}
span {
    margin: 1em;
    font-size:1em;
    width: 30%;
    display:inline;
}

@media screen and (min-width: 450px){
    body {
        font-size: 100%;
    }

    h2 {
        font-size: 3em;
        padding: 1% 0%;
    }

    nav {
        font-size: .8em;
    }

    nav a {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.5em;
        margin: 0em .5em;
    }

    iframe {
        width: 25%;
    }

    .listskills a {
        font-size: 1em;
    }

    a[href="#header"] {
        float: right;
        margin: 1em 1em;
        font-size: 1em;
    }
}