body {
    background-color: #f3f1f1;
}
div
{
    display: block;
}
h1{
    text-align: center;
    font-size: 3em;
    padding: 3% 0%;
}
nav {
    text-align: center;
    display:block;
    margin: 1%;
    padding-bottom: 3%;
    border-bottom: double black
}
nav a {
    width: 30%;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0% 1%;
}
section{
    padding: 2%;
    border-bottom: solid 1px;
}
h2 {
    font-size: 1.5em;
    margin: 2% 5% 3%;
}
section p {
    padding: 3%;
}
p>a{
    margin: 0% 3%;
}

iframe, video {
    width: 40%;
    margin: 0% 3%;
}

.skill {
    font-size: 1.3em;
    text-decoration: none;
    background-color: #0039a0;
    color: #fefff2;
    border-radius: 1em;
    padding: .3em;
    margin: .2em .5em;
    display: inline-block;
}
footer{
    width: 95%;
    text-align:center;
    margin-bottom: 3%;
}
footer span {
    font-size:1em;
    width: 45%;
    display:inline-block;
    padding-top:3%;
}
a[href="#header"] {
    float: right;
}
a:hover, a:active {
    color: #ff0000;
    cursor:pointer;
}
.skill:hover, .skill:active{
    background-color: #ff0000;
    color: #fefff2;
}

@media screen and (min-width: 450px){
    h1 {
        font-size: 3em;
        padding: 1% 0%;
    }

    nav {
        font-size: .8em;
    }

    nav a {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.5em;
        margin: 0% 3% 3%;
    }
}
@media screen and (min-width: 800px){
    video, iframe{
        width: 27%;
    }
    footer{
        text-align:left;
    }
    footer span {
        width:40%;
        text-align: left;
        margin:0% 3%;
        text-align:inline-block;
    }
    footer span:last-of-type{
        float:right;
        text-align:right;
    }
}
